@import "./variables";

.controls {
    width: 40%;
    min-width: 30em;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    //margin: auto;

    input {
        width: 100%;
        min-width: 20em;
        height: 2.2em;
        border: 2px solid $dark;
        padding: .3em;
        margin: auto;
        margin-top: 0px;
        margin-bottom: 0px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }

    button {
        width: auto;
        min-width: 3.3em;
        height: auto;
        font-weight: bold;
        font-size: 1em;
        margin: .4em;
        padding: .1em;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;

        &:hover {
            cursor: pointer;
            background-color: $dark;
            color: $light;
        }
    }

    @media (max-width: 600px) {
        width: 100%; // Set width to 100% for full width on smaller screens
        min-width: auto; // Reset min-width for better responsiveness
        margin-bottom: 10px; // Add some spacing at the bottom for better separation
    }

}