@import "./variables";

.canvasContainer {
    width: 80%;
    min-width: 64%;
    height: 100%;
    border-right: 1em solid red;
    padding: .8em;

    span {
        position: absolute;
        font-size: 2em
    }
}

.canvas {
    @include fit-parent;
    height: 550px;
}