.sideBar {
    width: 20%;
    min-width: 15rem;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    //padding: .7em;
    position: relative;

    div {
        width: 100%;
        height: 100%;
        font-size: .9em;
        padding: 1.4em;
        text-align: left;
        overflow-y: scroll;
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */

        section,
        h1,
        h2,
        h3,
        li {
            margin: .3em;
        }

        a {
            font-weight: bold;
            color: #009;
            text-decoration: none;

            &:active {
                color: #009;
            }
        }

    }

    button {
        height: 1.5em;
        width: auto;
        text-align: center;
        position: absolute;
        bottom: 15px;
        right: 15px;
        padding: .15em;
        border: 2px solid $dark;

        &:hover {
            color: $light;
            background-color: $dark;
            border-bottom: 2px solid $dark;
        }
    }
}