@import "./variables";
@import "./navbar";
@import "./canvas";
@import "./sideBar";
@import "./home";



*,
html
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: 'Ubuntu Mono', monospace;
    -ms-overflow-style: none;
    /* IE and Edge */
}


html,
#root,
body {
    @include fit-parent;
    display: flex;
    flex-wrap: nowrap;
}

