@import "./variables";
@import "./navbar";
@import "./canvas";
@import "./sideBar";



*,
html
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html,
#root,
body {
    @include fit-parent;
    display: flex;
}